@media screen and (max-width: 375px) {
  .header {
    &__buttons {
      display: none;
      position: absolute;
      width: 100%;
      top: 70px;
      padding: 0;
    }

    &__button-login {
      margin: 0;
      width: 100%;
      background-color: $colorPrimary;
      border: none;
      border-radius: 0;
      color: $colorWhite;
    }

    &__button-registration {
      width: 100%;
      background-color: $colorPrimary;
      color: $colorMenu;
      border: none;
      border-radius: 0;
      color: $colorWhite;
    }

    &__content {
      height: 70px;
    }

    &__burger {
      display: block;
      position: fixed;
      right: 26px;
      width: 30px;
      height: 20px;

      span {
        background-color: $colorBurger;
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 50px;
        left: 0;
        top: 9px
      }

      &::before, &::after {
        content: '';
        background-color: $colorBurger;
        position: absolute;
        width: 100%;
        height: 3px;
        border-radius: 50px;
        left: 0;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }
    }
  }
}