* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $fontFmaily;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $colorMenu;
}

.btn {
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 18px;
}

.header {
  &__content {
    padding: 0px 30px;
    grid-template-columns: 10% 60% 30%;
    max-height: 80px;
  }

  &__logo {
    justify-content: center;
    align-items: center;
    .left {
      display: inline-block;
      width: 12px;
      height: 24px;
      background-image: url('../icons/Vector-left.svg');
      background-repeat: no-repeat;
    }

    .right {
      position: relative;
      left: -0.3px;
      display: inline-block;
      width: 13px;
      height: 24px;
      background-image: url('../icons/Vector-right.svg');
      background-repeat: no-repeat;
    }

    .company {
      margin-left: 10px;
      display: inline-block;
      background-image: url('../icons/Adesk.svg');
      background-repeat: no-repeat;
      width: 72px;
      height: 24px;
    }
  }

  &__menu {
    .list {
      flex-grow: 1;
      align-items: center;
      justify-content: space-evenly;
    }
  }

  &__buttons {
    justify-content: space-evenly;
  }
}
