$fontFamily: "Graphik LCG";
$fontBlack: "Graphik LCG Black";
$maxWidth: 1920;
$maxWithContainer: 1170;
$colorMenu: #2C3038;
$colorLight: #FFFFFF;
$colorPrimary: #0F8FF9;
$colorBurger: #051534;
$colorPink: #F0568E;
$colorGreen: #00C064;
$colorFooter: #051534;



